@import 'foundation/scss/foundation';


// Variables

$header-line-color-base: rgb(57, 175, 255);
$header-line-colors: $header-line-color-base, darken($header-line-color-base, 20%), darken($header-line-color-base, 40%);
$header-line-height: 3px;

$text-color: rgb(227, 227, 227);
$background-color: rgb(39, 39, 39);

$primary-color: rgb(59, 136, 97);
$secondary-color: lighten($primary-color, 15%);
$tertiary-color: lighten($primary-color, 20%);

// Base

h1, h2, h3, h4, body {
  color: $text-color;
}

p {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
  background-color: $background-color;
}

li {
  list-style: none;
}

button, input[type='submit'] {
  background-color: $background-color;
  margin-bottom: 0;

  &:active {
    background-color: darken($secondary-color, 20%);
  }

  &:focus {
    background-color: inherit;
  }

  &:hover {
    background-color: $secondary-color;
  }
}

div {
  // border: 1px red solid;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

section {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
}

main {
  @media #{$medium-up} {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.row .row {
  margin-left: inherit; // override Foundation's default
  margin-right: inherit;
}

// Header
body header {
  padding-top: 15px;
  padding-bottom: 30px;
}

#title {
  margin-left: 30px;
  font-size: 2em;
  font-weight: bold;
}

#logo {
  font-weight: bold;
  color: $primary-color;
}

#header-line {
  padding-top: 10px;

  @for $i from 1 through length($header-line-colors) {
    div:nth-child(#{$i}) {
      background-color: nth($header-line-colors, $i);
    }
  }

  & > div {
    height: $header-line-height;
  }
}



// Player section
#player-section {
  padding-left: 0;
  padding-right: 0;
  position: relative;

  @media #{$medium-up} {
    height: 90vh;
  }
}

// Current track
#current-track {
  position: absolute;
  z-index: 500;
  background-color: $background-color;
  width: 100%;
  margin-top: 10%;

  & > p {
    margin: 0;
    text-align: center;
  }
}

#current-title {
  font-size: xx-large;
}

#current-album {
  font-size: large;
  font-weight: lighter;
}

#current-artist {
  font-size: large;
}

#album-cover {
  top: 24vh;
  max-width: 350px;
}

// Player

#player {
  position: absolute;
  bottom: 1.2vh;
  width: 100%;
}

#loading-bar {
  height: 60px;
  background-color: lighten($background-color, 5%);
}

#current-load {
  height: 100%;
  width: 20%;
  background-color: $tertiary-color;
}

#player-actions {
  margin-left: auto;
  margin-right: auto;
}


// Tabs section

// Playlist and Search
.content {
  width: 100%; // Override Foundation's default
}

#tabs-section {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

#tabs-header {
  margin-top: 58px;
}

#tabs-header dd {
  padding-left: 0;
  padding-right: 0;

  &.active > a {
    background-color: $secondary-color;
    color: lighten($text-color, 20%);
    font-weight: bolder;
  }

  &:not(.active) > a {
    background-color: lighten($background-color, 10%);
    color: $text-color;

    &:hover {
      background-color: lighten($background-color, 12%);
    }
  }
}

#search-panel {
  input[type='radio'] {
    display: none;

    & + label {
      display: inline-block;
      width: 6em;
      height: 3em;
      margin-left: 0;
      margin-top: 0;
      margin-right: 0;
      padding-left: 1.5em;
      padding-top: 1em;
      color: darken($text-color, 30%);
    }

    &:checked + label {
      background-color: $primary-color;
      color: $text-color;
    }
  }

  #label-radio-any {
    width: 4em;
  }
}



// Misc
.link-go-to {
  float: right;
}

.content-go-to {
  @extend button;
}



// Error messages
.error-message {
  text-align: center;
  color: #dfaca0;
  background-color: rgb(47, 0, 10);
  height: 3em;
  line-height: 2.8em;
}

// Error pages (404, etc.)
.error-section {
  margin-top: 100px;
}