<!-- List playlists  -->
<section class="columns medium-4">
  <ul>
    <li>Playing</li>
    <li>KEY-GENeration</li>
  </ul>
</section>

<!-- Tracks current playlist -->
<section class="columns medium-8">
  <header class="row">
    <h1>Playing</h1>
    <p>3 songs, 7 minutes</p>
  </header>

  <table>
  <thead>
    <tr>
      <th width="300">Name</th>
      <th width="30">Time</th>
      <th width="100">Artist</th>
      <th width="100">Album</th>
      <th width="100">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>

    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>

    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>
  </tbody>
</table>


</section>
