<table>
  <thead>
    <tr>
      <th width="300">Name</th>
      <th width="30">Time</th>
      <th width="100">Artist</th>
      <th width="100">Album</th>
      <th width="100">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>

    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>

    <tr>
      <td>Five O'Clock</td>
      <td>2:20</td>
      <td>JEKK</td>
      <td>One Day</td>
      <td>Electronica</td>
    </tr>
  </tbody>
</table>
