<!-- List genres  -->
<section class="side-list columns medium-4">
  <ul>
    <li>
      <img width="40" src="/images/savant_cover.png">
      <span>Electro<span>
    </li>
  </ul>
</section>

<!-- Albums current genre -->
<section class="content-list columns medium-8">
  <header class="row">
    <h1>Electro</h1>
    <p>3 Albums, 9 Songs</p>
  </header>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <p><b>Vario</b> by Savant</p>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <p><b>Vario</b> by Savant</p>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <p><b>Vario</b> by Savant</p>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>
</section>
