<!-- List playlists  -->
<section id="list-playlists" class="side-list columns medium-3">
  <ul></ul>
</section>

<!-- Tracks current playlist -->
<section id="list-tracks" class="columns medium-9">
  <header class="row">
    <h1>Playing</h1>
    <p>3 songs, 7 minutes</p>
  </header>

  <table>
  <thead>
    <tr>
      <th width="300">Name</th>
      <th width="30">Time</th>
      <th width="100">Artist</th>
      <th width="100">Album</th>
      <th width="100">Genre</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>


</section>
