<div class="buttons-controls columns small-3">
  <i class="fa fa-backward"></i>
  <i class="fa fa-play"></i>
  <i class="fa fa-forward"></i>
</div>

<div id="volume-control" class="columns small-2">
  <div class="range-slider round" data-slider>
    <span class="range-slider-handle round"></span>
    <span class="range-slider-active-segment round"></span>
    <input type="hidden">
  </div>
</div>

<div id="info-panel" class="columns small-4">
  <div class="row">
    <!-- Album cover current song -->
    <div id="cover-current" class="columns small-2">
      <img src="/images/all_artists.png">
    </div>

    <div id="info-current" class="columns small-8">
      <!-- Info current song -->
      <h5 class="row">Betrayal Takes Two</h5>
      <p class="row">Richard hell and the voidods - Blank generation</p>

      <!-- Seekbar -->
      <div id="seekbar-current" class="row range-slider round" data-slider>
        <span class="range-slider-handle round"></span>
        <span class="range-slider-active-segment round"></span>
        <input type="hidden">
      </div>
    </div>

    <!-- Controls current playlist -->
    <div id="playlist-current" class="columns small-2">
      <i class="fa fa-list"></i>
    </div>
  </div>
</div>

<input id="search" class="columns small-2" placeholder="Search Library">
