<ul class="medium-block-grid-5">
  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>

  <li>
    <figure>
      <img width="150" src="http://fc09.deviantart.net/fs71/f/2012/011/f/a/savant__vario_cover_by_imson-d4m2bng.png">
      <figcaption>
        <h5>Album name</h5>
        <h6>Artist name</h6>
      </figcaption>
    </figure>
  </li>
</ul>
