<!-- List artists  -->
<section class="columns medium-4">
  <ul>
    <li>
      <img width="40" src="/images/all_artists.png">
      <span>All artists</span>
    </li>
    <li>
      <img width="40" src="/images/savant_cover.png">
      <span>Savant<span>
    </li>
  </ul>
</section>

<!-- Albums current artist -->
<section class="columns medium-8">
  <header class="row">
    <h1>SAVANT</h1>
  </header>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <h3>Vario</h3>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <h3>Vario</h3>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>

  <article class="row">
    <div class="columns small-4">
      <img width="150" src="/images/savant_cover.png">
    </div>
    <div class="columns small-8">
      <h3>Vario</h3>
      <ol>
        <li>Five O'Clock</li>
        <li>Reach the Stars</li>
        <li>Day Free</li>
      </ol>
    </div>
  </article>
</section>
